<<<<<<< HEAD
<h1 class="text-center">Editing Category</h1>
=======
<h1>Editing Category</h1>
>>>>>>> bc281907d4713d81bf745bfd342f155aacfef41d

<%= render 'form' %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
