
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Deco 27  Hardwood Flooring in Miami, Fl | Distributors  Engineered Hardwood | Floors  Artisan Floors  Floor Art | Sports and Dance Floors Decks and Fences | Hardwood  Specialty Wood Products | Prefinished Brazilian Teak Floors | European White Oak Fatwood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="css/grayscale.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>

</body>
